{% extends 'base.html' %}

{% block title %}
    All rides
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container py-5">
            <div class="content-section p-3">
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

<!-- make a card instead of a table -->
<div class="container py-5">
    <h2 class="mb-4 text-center">All active rides</h2>
    <div class="content-section p-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for ride in rides %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ ride.origin }} -> {{ ride.destination }}</h5>
                            <p class="card-text">Date: {{ ride.date }}</p>
                            <p class="card-text">Departure time: {{ ride.time }}</p>
                            <p class="card-text">Driver: {{ ride.driver_id }}</p>
                            <p class="card-text">Seats available: {{ ride.seats }}</p>
                            {% if session['type'] != 'driver' %}
                                {% if session['email'] not in ride.passengers %}
                                    {% if ride.seats > 0 %}
                                        <form action="/rides/join" method="post">
                                            <!-- <input type="hidden" name="action" value="join_ride"> -->
                                            <input type="hidden" name="ride_id" value="{{ ride.ride_id }}">
                                            {% if session['email'] %}
                                                <button type="submit" class="btn btn-danger btn-block">Join</button>
                                            {% else %}
                                                <a href="/login" class="btn btn-danger btn-block">Login to join</a>
                                            {% endif %}
                                        </form>
                                    {% else %}
                                        <p class="card-text text-danger">No seats available.</p>
                                    {% endif %}
                                {% else %}
                                    <p class="card-text text-danger">You have already joined this ride.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}