{% extends 'base.html' %}

{% block title %}
    Search for a ride
{% endblock %}

{% block body %}

<div class="container py-5">
    <h2 class="mb-4 text-center">Search for a ride</h2>
    <div class="content-section p-3">
        <form method="POST" class="small-form" action="/search-rides">
            <div class="form-outline mb-4">
                <label for="origin" class="form-label">Origin: </label>
                <input type="text" class="form-control" id="origin" name="origin" required>
            </div>
            <div class="form-outline mb-4">
                <label for="destination" class="form-label">Destination: </label>
                <input type="text" class="form-control" id="destination" name="destination" required>
            </div>
            <div class="form-outline mb-4">
                <label for="date" class="form-label">Date: </label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-outline mb-4">
                <label for="time" class="form-label">Time: </label>
                <input type="time" class="form-control" id="time" name="time" required>
            </div>
            <div class="mb-3 text-center d-grid gap-2">
                <button type="submit" class="btn btn-danger btn-block">Search</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}