{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Sign into your account</h2>
    <div class="content-section p-3">
        <form method="POST" class="small-form" action="/login">
            <!-- <div class="form-outline mb-4">
                <label for="name" class="form-label">Full name: </label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div> -->
            <div class="form-outline mb-4">
                <label for="email" class="form-label">Email address: </label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-outline mb-4">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3 text-center d-grid gap-2">
                <button type="submit" class="btn btn-danger btn-block">Login</button>
            </div>
            <p class="text-center">
                Don't have an account? Click <a class="link-danger" href="/register">here</a> to register.
            </p>
        </form>
    </div>
</div>

<!-- flashed msg -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            <div class="content-section">
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

{% endblock %}