{% extends 'base.html' %}

{% block title %}
    Ride history
{% endblock %}

{% block body %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Your ride history</h2>
    <div class="content-section p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Seats left</th>
                    <th scope="col">Passenger IDs</th>
                </tr>
            </thead>
            <tbody>
                {% if rides %}
                    {% for ride in rides %}
                        <tr>
                            <td>{{ ride['origin'] }}</td>
                            <td>{{ ride['destination'] }}</td>
                            <td>{{ ride['date'] }}</td>
                            <td>{{ ride['time'] }}</td>
                            <td>{{ ride['seats'] | int }}</td>
                            <td>
                            {% if ride['passengers'] %}
                                <ul>
                                    {% for passenger in ride['passengers'] %}
                                        <li>{{ passenger }}</li>
                                        {% endfor %}
                                </ul>
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No rides found</td>
                    </tr>
                {% endif %} 
            </tbody>
        </table>
    </div>
</div>

{% endblock %}